@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face{
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}


@font-face{
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}


@font-face{
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

