@import "./fonts.css";

:root{
    --default-box-shadow : 2px 2px 8px rgba(0,0,0,.25);
    --default-fill : 1em;
    --light-box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    --dark-color: #1f1f1f;
}

*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
}

body.dark{
    background: var(--dark-color);
    color: white;
    transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
}

body.dark [class$="-left"], body.dark [class$="-right"], body.dark .modal-close{
    color: white;
}

body.dark .header,body.dark .developer,body.dark .project, body.dark .developers-container{
    box-shadow: var(--light-box-shadow);
}

body.dark .accordion-button{
    background-color: white;
    color: var(--dark-color);
    transition: .5s;
}

body.dark .modal{
    background-color: var(--dark-color);
}

/*Modal*/

.modal-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: rgba(0,0,0,.25);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
    
}

.modal{
    position: relative;
    width: 50%;
    display: grid;
    height: 40%;
    padding: 2rem;
    background: white;
    box-shadow: var(--default-box-shadow);
    grid-template-columns: .25fr .75fr;
    grid-template-rows: .25fr .75fr;
    border-radius: 10px;
}

.modal-image{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}

.modal-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.modal-title{
    text-align: center;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 5px;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.modal-description{
    display: grid;
    align-items: center;
    justify-items: center;
}

.modal-extraInfo{
    padding: 20px 0px;
}

.modal-container.active{
    visibility: visible;
    z-index: 5;
    opacity: 1;
}

/*Header*/

.header{
    width: 100%;
    box-shadow: var(--default-box-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.company-title{
    margin: 0;
    padding: var(--default-fill);
}

.header-toggler{
    padding-right: 2em;
}


#darkMode-label{
    padding: 7.5px 20px;
    border-radius: 50%;
    background-color: var(--dark-color);
    cursor: pointer;
}

#darkMode-label.light{
    background-color: white;
}

#darkMode{
    visibility: hidden;
}


/*Accordion*/

.accordion-button{
    width: 100%;
    padding: var(--default-fill);
    border: none;
    background-color: var(--dark-color);
    color:white;
    font-family: 'Poppins Bold';
    font-size: 1.5rem;
    box-shadow: var(--light-box-shadow);
    cursor: pointer;
}

/*Developers*/

.developers-container{
    width: 100vw;
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
    box-shadow: var(--default-box-shadow);
}

.developers{
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    padding: 2.5em 0px;
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.developers *{
    transition: none;
}

.developers-left,.developers-right{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    font-size: 2em;
    cursor: pointer;
    outline:none
}

.developers-left{
    left: 2em;
   
}

.developers-right{
    right: 2em;
}


.developer-container{
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.developer{
    display: grid;
    box-shadow: var(--default-box-shadow);
    max-width: 300px;
    height: auto;
    padding: var(--default-fill);
    border-radius: 10px;
    transition: none;
}

.developer-title{
    text-align: center;
}

.developer-more{
    text-align: right;
    font-family: 'Poppins Bold',sans-serif;
    cursor: pointer;
}

.developer-image{
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    justify-self: center;
    margin-top: -30px;
    border-radius: 50%;
}

.developer-image img{
    max-width: inherit;
    max-height: inherit;
    border-radius: 50%;
}


/*Projects*/

.projects-container{
    width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 0;
    transition: max-height 1s;
}
.projects{
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    padding: 1em 0px;
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.projects-left,.projects-right{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    font-size: 2em;
    cursor: pointer;
    outline:none
}

.projects-left{
    left: 2em;
   
}

.projects-right{
    right: 2em;
}

.project-container{
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.project{
    display: grid;
    box-shadow: var(--default-box-shadow);
    border-radius: 10px;
    padding: var(--default-fill);
    grid-template-areas: "image title" "image description";
    width: 100%;
    max-width: 600px;
    grid-gap: 20px;
}

.project-image{
    grid-area: image;
    max-width: 225px;
    max-height: 300px;
    overflow: hidden;
}

.project-image img{
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    border-radius: 10px;
}

.project-title{
    grid-area: title;
    text-align: center;
    margin: 0;
}

.project-description{
    grid-area: description;
    margin: 0;
}

/*Responsive*/

@media screen and (max-width: 768px){
    .company-title{
        font-size: 3.5vw;
    }
    
    .modal{
        display: block;
        height: auto;
    }
    
    .project{
    grid-template-areas: "image" "title" "description";
    width: 100%;
    max-width: 300px;
    }
    .project-image{
        max-width: 290px;
    }
    .header-toggler{
        padding-right: 1em;
    }
}

@media screen and (max-width: 500px){
    .developers-left{
        left: 1em;
       
    }
    .developers-right{
        right: 1em;
    }
    .projects-left{
        left: 1em;
       
    }
    .projects-right{
        right: 1em;
    }

    .project{
        max-width: 250px;
    }

    .developer{
        max-width: 250px;
    }

    .header-toggler{
        padding-right: .5em;
    }

    #darkMode-label{
        padding: .5px 12.5px;
    }
}

@media screen and (max-width: 360px){
    .developers-left{
        left: .5em;
       
    }
    
    .developers-right{
        right: .5em;
    }
    .projects-left{
        left: .5em;
       
    }
    .projects-right{
        right: .5em;
    }

    .project{
        max-width: 200px;
    }

    .developer{
        max-width: 200px;
    }
}