@import "./fonts.css";

:root{
    --default-box-shadow : 2px 2px 8px rgba(0,0,0,.25);
    --default-fill : 1em;
}

*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
}

body.dark{
    background: #1f1f1f;
    color: white;
    transition: .5s cubic-bezier(0.86, 0, 0.07, 1);
}

/*Header*/

.header{
    width: 100%;
    box-shadow: var(--default-box-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-title{
    margin: 0;
    padding: var(--default-fill);
}

.header-toggler{
    padding-right: 2em;
}


#darkMode-label{
    padding: 7.5px 20px;
    border-radius: 50%;
    background-color: #1f1f1f;
    cursor: pointer;
}

#darkMode-label.light{
    background-color: white;
}

#darkMode{
    visibility: hidden;
}

/*Developers*/

.developers-container{
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.developers{
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    padding: 2.5em 0px;
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
   transition-timing-function: ease-in-out;
}

.developers *{
    transition: none;
}

.developers-left,.developers-right{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    font-size: 2em;
    cursor: pointer;
    outline:none
}

.developers-left{
    left: 2em;
   
}

.developers-right{
    right: 2em;
}


.developer-container{
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.developer{
    display: grid;
    box-shadow: var(--default-box-shadow);
    max-width: 300px;
    height: auto;
    padding: var(--default-fill);
    border-radius: 10px;
    transition: none;
}

.developer-image{
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    justify-self: center;
    margin-top: -30px;
    border-radius: 50%;
}

.developer-image img{
    max-width: inherit;
    max-height: inherit;
    border-radius: 50%;
}


/*Projects*/

.projects-container{
    width: 100vw;
    height: auto;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.projects{
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    padding: 1em 0px;
    transform: translateX(0);
}

.projects-left,.projects-right{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    font-size: 2em;
    cursor: pointer;
    outline:none
}

.projects-left{
    left: 2em;
   
}

.projects-right{
    right: 2em;
}

.project-container{
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.project{
    display: grid;
    box-shadow: var(--default-box-shadow);
    border-radius: 10px;
    padding: var(--default-fill);
    grid-template-areas: "image title" "image description";
    width: 100%;
    max-width: 600px;
    grid-gap: 20px;
}

.project-image{
    grid-area: image;
    max-width: 225px;
    max-height: 300px;
    overflow: hidden;
}

.project-image img{
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    border-radius: 10px;
}

.project-title{
    grid-area: title;
}

.project-description{
    grid-area: description;
}

/*Responsive*/

@media screen and (max-width: 768px){
    .company-title{
        font-size: 3.5vw;
    }
    .developer{
        max-width: 200px;
    }
    
    .project{
    grid-template-areas: "image" "title" "description";
    width: 100%;
    max-width: 300px;
    }
    .project-image{
        max-width: 290px;
    }
}

@media screen and (max-width: 500px){
    .developers-left{
        left: 1em;
       
    }
    .developers-right{
        right: 1em;
    }
    .projects-left{
        left: 1em;
       
    }
    .projects-right{
        right: 1em;
    }

    .project{
        max-width: 200px;
    }
}

@media screen and (max-width: 360px){
    .developers-left{
        left: .5em;
       
    }
    
    .developers-right{
        right: .5em;
    }
    .projects-left{
        left: .5em;
       
    }
    .projects-right{
        right: .5em;
    }
}